.title-column {
  flex: 0 0 100%;
  text-align: center;

  & .title-description {
    color: var(--text-small);
    font-size: 2rem;
  }
}

.column-search {
  flex: 1;
  margin-right: 2.5rem;

  @media screen and (max-width : 992px) {
    margin-right: 0;
  }

  & .input-search {
    width: 100%;
  }

  & .album-title {
    flex: 1;

    & .count {
      color: var(--text-small);
      font-size: 75%;
    }
  }

  & .list-title-column {
    display: flex;
    flex: 0 0 100%;
    align-items: center;

    & .previous-next-column {
      display: flex;
      color: var(--text-small);
      cursor: pointer;

      & .previous {
        margin-right: 1rem;
      }
    }
  }

  .container-album {
    display: flex;
    flex-wrap: wrap;

    & .album {
      flex: 0 25%;
      margin-bottom: 2rem;
      padding-right: 1.5rem;
      cursor: pointer;

      &:nth-child(4n+1) {
        padding-right: 0;
      }

      @media screen and (max-width : 650px) {
        flex: 0 50%;
        &:nth-child(2n+1) {
          padding-right: 0;
        }
      }

      & img {
        max-width: 100%;
      }

      & .album-text {
        word-break: break-word;

        & .name {
          font-size: 90%;
        }

        & .description {
          color: var(--text-small);
          font-size: 80%;
        }
      }
    }
  }
}

.column-widget {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  & .widget {
    flex: 0 0 40%;
    text-align: center;
  }

  &.details-page {
    flex: 0 0 40%;
    @media screen and (max-width : 992px) {
      flex: 0 0 100%;
    }

    & .widget {
      flex: 0 0 100%;
    }

  }

  & .setting-code-column {
    flex: 1;

    .column {
      position: relative;
      margin-top: 3rem;
      padding: 2rem 1.5rem;
      border: 1px solid var(--reverse);

      &::before {
        position: absolute;
        top: -1.6rem;
        left: 1.5rem;
        padding: 0 1.5rem;
        background-color: var(--basic);
        font-size: 2rem;
      }
    }

    .setting {
      &::before {
        content: "Setting";
      }

      & .setting-column {
        &:not(:last-child) {
          margin-bottom: 1rem;
        }
        & label {
          display: inline-block;
          width: 9rem;
        }

        & input[type="number"],
        & input[type="text"] {
          width: calc(100% - 9rem);
        }
      }
    }

    .code {
      &::before {
        content: "Embed Code";
      }

      & .code-column {
        display: block;
        position: relative;
        padding: 2.5rem 2rem;
        background-color: hsl(210, 29%, 97%);
        color: var(--text-small);

        & .copy {
          position: absolute;
          top: 0;
          right: 0;
        }
        font-family: SFMono-Regular, Consolas, "Liberation Mono", Menlo, Courier, monospace;
        font-size: 85%;
        word-break: break-word;
      }
    }
  }
}

footer {
  color: var(--text-small);
  font-size: 85%;
  text-align: center;
  a {
    color: var(--text);
  }
}
